* {
  box-sizing: border-box;
  -o-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

button, button:focus {
  cursor: pointer;
  border: none;
  outline: none;
}

textarea {
  resize: none;
  outline: none;
}

textarea:focus {
  border: none;
  outline: none;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  color: #eee;
  background-color: #222;
  font-family: "Press Start 2P", sans-serif;
}

:root {
  --color: red;
  --main-transition: all .5s;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (width >= 1200px) {
  .container {
    width: 1170px;
  }
}

.btn {
  color: #222;
  cursor: pointer;
  background-color: #eee;
  border: none;
  padding: 2rem 3rem;
  font-family: inherit;
  font-size: 2rem;
}

.btn:hover {
  background-color: #ccc;
}

.header .container .content {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding-block: 20px;
  display: flex;
}

@media (width <= 767px) {
  .header .container .content {
    flex-direction: column;
  }
}

.header .container .content .again {
  position: relative;
}

.header .container .content .between {
  font-size: 1.4rem;
}

main {
  min-height: 100dvh;
}

.title {
  margin-block: 50px;
}

.title .container .content {
  padding-block: 20px;
}

.title .container .content h1 {
  text-align: center;
  margin-bottom: 30px;
  padding-block: 30px;
  font-size: 4rem;
}

.title .container .content .numbers {
  width: 100%;
  position: relative;
}

.title .container .content .numbers:before {
  content: "";
  background-color: #eee;
  width: 100%;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.title .container .content .numbers .number {
  color: #333;
  text-align: center;
  background: #eee;
  width: 15rem;
  padding: 3rem 0;
  font-size: 6rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.scores {
  margin-block: 50px;
}

.scores .container {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  display: flex;
}

@media (width <= 768px) {
  .scores .container {
    flex-direction: column;
  }
}

.scores .container .checked {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.scores .container .checked .guess {
  color: inherit;
  text-align: center;
  background: none;
  border: 4px solid #eee;
  width: 25rem;
  margin-bottom: 3rem;
  padding: 2.5rem;
  font-family: inherit;
  font-size: 5rem;
  display: block;
}

.scores .container .messages {
  font-size: 2rem;
}

.scores .container .messages .message {
  height: 3rem;
  margin-bottom: 8rem;
}

.scores .container .messages .label-score {
  margin-bottom: 2rem;
}

footer {
  margin-top: 50px;
  box-shadow: 0 -.2rem 1.6rem #fff3;
}

footer .container {
  text-align: center;
  padding-block: 4rem;
}

footer .container a {
  transition: var(--main-transition);
}

footer .container a:link, footer .container a:visited {
  color: #fff;
  transition: var(--main-transition);
  font-size: 1.4rem;
  text-decoration: none;
}

footer .container a:hover, footer .container a:active {
  color: #f8312f;
  transition: var(--main-transition);
}

@media (width >= 768px) {
  .container {
    width: 750px;
  }
}

@media (width >= 992px) {
  .container {
    width: 970px;
  }
}

@media (width >= 1200px) {
  .container {
    width: 1170px;
  }
}

/*# sourceMappingURL=index.2e8c441c.css.map */
